---
import InstagramCard from './InstagramCard.astro';
const access_token = import.meta.env.SECRET_TOKEN_INSTAGRAM;
const url_ProfileInstagram = `https://graph.facebook.com/v20.0/17841408119012072/?fields=profile_picture_url&access_token=${access_token}`
const url_Instagram = `https://graph.facebook.com/v20.0/17841408119012072/media?fields=timestamp,media_url,caption,like_count,id,media_type,permalink,username,thumbnail_url,comments_count,limit=10&access_token=${access_token}`;
interface InstagramMedia {
  id?: string;
  media_url: string;
  thumbnail_url: string;
  username: string;
  caption: string;
  permalink: string;
  like_count: number;
  comments_count: number;
  profile_picture_url: string;
  timestamp:string;
}
interface InstagramProfile {
  profile_picture_url: string;
}

async function fetchInstagramData(): Promise<InstagramMedia[]> {
    try {
        const response = await fetch(url_Instagram);
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        const data = await response.json();
        // Return the array of Instagram media objects
        return data.data as InstagramMedia[];
    } catch (error) {
        console.error('Error fetching Instagram data:', error);
        return [];
    }
}
async function fetchInstagramProfileData(): Promise<InstagramProfile[]> {
    try {
        const response = await fetch(url_ProfileInstagram);
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        const data = await response.json();
        // Return the array of Instagram media objects
        return data.profile_picture_url as InstagramProfile[];
    } catch (error) {
        console.error('Error fetching Instagram data:', error);
        return [];
    }
}

const data: InstagramMedia[] = await fetchInstagramData();
const profile_picture_url: InstagramProfile[] = await fetchInstagramProfileData();


---

<section class="section gallery" id="gallery" aria-label="galleria de fotos">
    <div class="container">
      <div class="title-wrapper">
        <div>
          <h2 class="h2 section-title">Folge uns auf Instagram <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="url(#IconifyId18de60e39ac84bd780)" rx="60"/><rect width="256" height="256" fill="url(#IconifyId18de60e39ac84bd781)" rx="60"/><path fill="#fff" d="M128.009 28c-27.158 0-30.567.119-41.233.604c-10.646.488-17.913 2.173-24.271 4.646c-6.578 2.554-12.157 5.971-17.715 11.531c-5.563 5.559-8.98 11.138-11.542 17.713c-2.48 6.36-4.167 13.63-4.646 24.271c-.477 10.667-.602 14.077-.602 41.236s.12 30.557.604 41.223c.49 10.646 2.175 17.913 4.646 24.271c2.556 6.578 5.973 12.157 11.533 17.715c5.557 5.563 11.136 8.988 17.709 11.542c6.363 2.473 13.631 4.158 24.275 4.646c10.667.485 14.073.604 41.23.604c27.161 0 30.559-.119 41.225-.604c10.646-.488 17.921-2.173 24.284-4.646c6.575-2.554 12.146-5.979 17.702-11.542c5.563-5.558 8.979-11.137 11.542-17.712c2.458-6.361 4.146-13.63 4.646-24.272c.479-10.666.604-14.066.604-41.225s-.125-30.567-.604-41.234c-.5-10.646-2.188-17.912-4.646-24.27c-2.563-6.578-5.979-12.157-11.542-17.716c-5.562-5.562-11.125-8.979-17.708-11.53c-6.375-2.474-13.646-4.16-24.292-4.647c-10.667-.485-14.063-.604-41.23-.604zm-8.971 18.021c2.663-.004 5.634 0 8.971 0c26.701 0 29.865.096 40.409.575c9.75.446 15.042 2.075 18.567 3.444c4.667 1.812 7.994 3.979 11.492 7.48c3.5 3.5 5.666 6.833 7.483 11.5c1.369 3.52 3 8.812 3.444 18.562c.479 10.542.583 13.708.583 40.396c0 26.688-.104 29.855-.583 40.396c-.446 9.75-2.075 15.042-3.444 18.563c-1.812 4.667-3.983 7.99-7.483 11.488c-3.5 3.5-6.823 5.666-11.492 7.479c-3.521 1.375-8.817 3-18.567 3.446c-10.542.479-13.708.583-40.409.583c-26.702 0-29.867-.104-40.408-.583c-9.75-.45-15.042-2.079-18.57-3.448c-4.666-1.813-8-3.979-11.5-7.479s-5.666-6.825-7.483-11.494c-1.369-3.521-3-8.813-3.444-18.563c-.479-10.542-.575-13.708-.575-40.413c0-26.704.096-29.854.575-40.396c.446-9.75 2.075-15.042 3.444-18.567c1.813-4.667 3.983-8 7.484-11.5c3.5-3.5 6.833-5.667 11.5-7.483c3.525-1.375 8.819-3 18.569-3.448c9.225-.417 12.8-.542 31.437-.563zm62.351 16.604c-6.625 0-12 5.37-12 11.996c0 6.625 5.375 12 12 12s12-5.375 12-12s-5.375-12-12-12zm-53.38 14.021c-28.36 0-51.354 22.994-51.354 51.355c0 28.361 22.994 51.344 51.354 51.344c28.361 0 51.347-22.983 51.347-51.344c0-28.36-22.988-51.355-51.349-51.355zm0 18.021c18.409 0 33.334 14.923 33.334 33.334c0 18.409-14.925 33.334-33.334 33.334c-18.41 0-33.333-14.925-33.333-33.334c0-18.411 14.923-33.334 33.333-33.334"/><defs><radialGradient id="IconifyId18de60e39ac84bd780" cx="0" cy="0" r="1" gradientTransform="matrix(0 -253.715 235.975 0 68 275.717)" gradientUnits="userSpaceOnUse"><stop stop-color="#FD5"/><stop offset=".1" stop-color="#FD5"/><stop offset=".5" stop-color="#FF543E"/><stop offset="1" stop-color="#C837AB"/></radialGradient><radialGradient id="IconifyId18de60e39ac84bd781" cx="0" cy="0" r="1" gradientTransform="matrix(22.25952 111.2061 -458.39518 91.75449 -42.881 18.441)" gradientUnits="userSpaceOnUse"><stop stop-color="#3771C8"/><stop offset=".128" stop-color="#3771C8"/><stop offset="1" stop-color="#60F" stop-opacity="0"/></radialGradient></defs></g></svg></h2>

          <p class="section-text text-center">
            Verpassen Sie nicht unsere Veröffentlichungen, lernen Sie unser Arbeitsteam kennen und entdecken Sie die Kunst unserer Tätowierungen und Piercings.
          </p>
        </div>
      </div>
       <!-- =============== SWIPER GALLERY CARDS =============== -->
      <div class="swiper gallery-cards-2">
        <div class="swiper-wrapper" data-swiper-autoplay="1000">
          {data.map(({ media_url, caption, permalink, username, like_count, comments_count, timestamp }) => (
          <a href={permalink} target="_blank" class="swiper-slide card">
              <InstagramCard 
                  media_url={media_url} 
                  caption={caption} 
                  username={username}
                  like_count={like_count}
                  comments_count={comments_count}
                  profile_picture_url={profile_picture_url}
                  timestamp={timestamp}
              />
          </a>
      ))}
      
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
</section>
<script>
  import Swiper from 'swiper/bundle';

  // This ensures the script runs after the DOM is fully loaded
  document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper('.gallery-cards-2', {
      autoplay: {
        delay: 3000,
        pauseOnMouseEnter: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 3,
          spaceBetween: 20,
          grid: {
        rows: 1,
        fill: 'column',
      },
        },
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  });
</script>


      <style>
/*-----------------------------------*\
  #GALLERY
\*-----------------------------------*/
.card {
  z-index: 5;
  cursor: pointer;
}
.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.card .content-h3 .h3 {
    display: flex;
    align-items:center;
    justify-content:center;
    gap: 5px;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 8px;
  /* width: max-content; */
  color: var(--white);
  /* padding-inline-start: 5px; */
}
.card .content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4em;
  color: var(--white);
  padding-inline: 5px;
  padding-block-end: 5px;
}

.card .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
  background-color: var(--smoky-black-1);
}
.card .content-h3 {
  position: absolute;
  top: 0;
  opacity: 1;
  background-color: var(--smoky-black-1);
  z-index: 10;
  width: 100%;
}

.card-banner img{
    position: absolute;
}

.card:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.title-wrapper {
  margin-block-end: 60px;
  text-align: center;
}

.gallery .section-text {
  margin-block: 12px 15px;
}

.gallery-card {
  position: relative;
}

.gallery-card .card-content {
  position: absolute;
  inset: 15px;
  background-color: var(--eerie-black-2_85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--transition-2);
}

.gallery-card:is(:hover, :focus-within) .card-content {
  opacity: 1;
  transform: scale(1);
}

.gallery-card :is(.card-title, .card-text) {
  color: var(--white);
}

.gallery-card .card-btn {
  background-color: var(--white);
  color: var(--indian-yellow);
  font-size: 18px;
  padding: 16px;
  border-radius: var(--radius-5);
  margin-block-start: 12px;
  transition: var(--transition-1);
}

.gallery-card .card-btn {
  background-color: var(--indian-yellow);
  color: var(--white);
}
@media (min-width: 575px) {
      /**
   * GALLERY
   */

  .gallery .grid-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
      /**
   * GALLERY
   */

  .gallery .title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: content;
  }

  .gallery .section-text {
    margin-block-end: 0;
  }
  .card .content-h3 .h3 {
  font-size: 1.7rem;
}
}

@media (min-width: 1200px) {
      /**
   * GALLERY
   */

  .gallery .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .card .content-h3 .h3 {
  font-size: 1.8rem;
}
}
      </style>